@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@theme {
  --font-sans: 'Manrope', sans-serif;

  --color-background: hsl(0 0% 98%);
  --color-foreground: hsl(0 0% 6%);
  --color-muted: hsl(0 0% 95%);
  --color-muted-foreground: hsl(0 0% 40%);
  --color-border: hsl(0 0% 90%);
  --color-input: hsl(0 0% 90%);
  --color-ring: hsl(22 65% 57%);
  --color-primary: hsl(22 65% 57%);
  --color-primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(0 0% 90%);
  --color-secondary-foreground: hsl(0 0% 0%);
  --color-accent: hsl(0 0% 95) %;
  --color-accent-foreground: hsl(0 0% 6%);
  --color-card: hsl(0 0% 100%);
  --vcard-foreground: hsl(0 0% 6%);
}

.dark {
  --color-background: hsl(0 0% 6%);
  --color-foreground: hsl(0 0% 98%);
  --color-muted: hsl(0 0% 15%);
  --color-muted-foreground: hsl(0 0% 70%);
  --color-border: hsl(0 0% 20%);
  --color-input: hsl(0 0% 20%);
  --color-ring: hsl(22 65% 57%);
  --color-primary: hsl(22 65% 57%);
  --primary-foreground: hsl(0 0% 100%);
  --color-secondary: hsl(0 0% 25) %;
  --color-secondary-foreground: hsl(0 0% 100%);
  --color-accent: hsl(0 0% 20%);
  --color-accent-foreground: hsl(0 0% 100%);
  --color-card: hsl(0 0% 10%);
  --color-card-foreground: hsl(0 0% 98%);
}
